﻿@using System.Web.Optimization
@using BSUWebProgramming
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="pdf latex bsu web programming">
    <meta name="author" content="Nikolay Volosatov">

    <title>Веб программирование - Волосатов Николай</title>

    @Styles.Render("~/css")
  </head>

  <body>
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          @Html.MenuLink("Конвертер", "Converter", "Home")
          @Html.MenuLink("Mathematica", "Mathematica", "Home")
          @Html.MenuLink("Об авторе", "About", "Home")
        </ul>
        <h3 class="text-muted">Веб программирование</h3>
      </div>

      <div class="well">
      	@RenderBody()
      </div>

      <div class="footer">
        <p>&copy; Nikolay Volosatov 2014</p>
      </div>

    </div> <!-- /container -->
      
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
  </body>
</html>
		