﻿<p>Минск - ФПМИ - БГУ</p>
<p><strong>Волосатов Николай</strong> - <span class="label label-success">5 курс</span> - <span class="label label-warning">3 группа</span></p>
<address><a href="mailto:bamx23@gmail.com">bamx23@gmail.com</a></address>
