﻿<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">Данные input.txt <a href='@Url.Content("~/Content/ConsoleConverter.zip")'><i>консольная версия</i></a></h3>
	</div>
	<div class="panel-body">
    	<form class="form" method="post" action='@Url.Action("Latex")' style="text-align: center;">
			<textarea id="input" name="inputString" rows="20" style="width: 100%;">@ViewBag.Data</textarea>
			<br />
			<input type="submit" class="btn btn-success" value="LaTeX"/>
			<a href="#" class="btn btn-default" onclick="example();">Пример(Вариант 8)</a>
		</form>
  	</div>
</div>

@if (ViewBag.Error != null) {
	<hr/>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">Ошибка</h3>
		</div>
		<div class="panel-body">
	    	<pre>@ViewBag.Error</pre>
	  	</div>
		
	</div>
}

<div id="example" class="hidden">/*|I|*/5
/*|U|*/8
{1,2}
{2,3}
{4,1}
{4,2}
{4,3}
{5,1}
{5,2}
{5,4}
/*|K|*/3
/*widetilde{U}^1*/
/*{1,2}*/1
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/1
/*{4,3}*/0
/*{5,1}*/1
/*{5,2}*/1
/*{5,4}*/1
/*widetilde{U}^2*/
/*{1,2}*/1
/*{2,3}*/1
/*{4,1}*/1
/*{4,2}*/0
/*{4,3}*/1
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/1
/*widetilde{U}^3*/
/*{1,2}*/1
/*{2,3}*/0
/*{4,1}*/1
/*{4,2}*/1
/*{4,3}*/1
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/1
/*widetilde{U}_1^1*/
/*{1,2}*/0
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/0
/*{4,3}*/0
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/0
/*widetilde{U}_1^2*/
/*{1,2}*/0
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/0
/*{4,3}*/0
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/0
/*widetilde{U}_1^3*/
/*{1,2}*/0
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/0
/*{4,3}*/0
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/0
/*widetilde{U}_0*/
/*{1,2}*/0
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/0
/*{4,3}*/0
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/1
/*widetilde{U}_0^1*/
/*{1,2}*/0
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/0
/*{4,3}*/0
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/1
/*widetilde{U}_0^2*/
/*{1,2}*/0
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/0
/*{4,3}*/0
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/0
/*widetilde{U}_0^3*/
/*{1,2}*/0
/*{2,3}*/0
/*{4,1}*/0
/*{4,2}*/0
/*{4,3}*/0
/*{5,1}*/0
/*{5,2}*/0
/*{5,4}*/1
/*q*/3
/*lambda_12^11*/7
/*lambda_12^21*/4
/*lambda_12^31*/2
/*lambda_23^21*/8
/*lambda_41^21*/9
/*lambda_41^31*/9
/*lambda_42^11*/9
/*lambda_42^31*/4
/*lambda_43^21*/2
/*lambda_43^31*/5
/*lambda_51^11*/9
/*lambda_51^31*/9
/*lambda_52^11*/5
/*lambda_54^11*/9
/*lambda_54^21*/3
/*lambda_54^31*/7
/*lambda_12^12*/6
/*lambda_12^22*/7
/*lambda_12^32*/6
/*lambda_23^22*/3
/*lambda_41^22*/7
/*lambda_42^12*/5
/*lambda_42^32*/2
/*lambda_43^32*/2
/*lambda_51^12*/10
/*lambda_51^32*/7
/*lambda_52^12*/8
/*lambda_54^12*/9
/*lambda_54^22*/5
/*lambda_54^32*/7
/*lambda_12^13*/2
/*lambda_12^23*/1
/*lambda_12^33*/5
/*lambda_23^23*/5
/*lambda_41^23*/2
/*lambda_41^33*/6
/*lambda_42^13*/3
/*lambda_43^23*/3
/*lambda_43^33*/2
/*lambda_51^13*/8
/*lambda_51^33*/1
/*lambda_52^13*/8
/*lambda_54^13*/2
/*lambda_54^23*/4
/*lambda_54^33*/8
/*a_1^1*/3
/*a_2^1*/-15
/*a_4^1*/-8
/*a_5^1*/20
/*a_1^2*/0
/*a_2^2*/-6
/*a_3^2*/-5
/*a_4^2*/7
/*a_5^2*/4
/*a_1^3*/-10
/*a_2^3*/-10
/*a_3^3*/-7
/*a_4^3*/9
/*a_5^3*/-18
/*alpha_1*/556
/*alpha_2*/501
/*alpha_3*/307
/*z_5^4*/13</div>
<script>
	function example() {
		$("#input").html($("#example").html());
	}
</script>