﻿@if (ViewBag.Error == null) {
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Latex output.txt</h3>
		</div>
		<div class="panel-body">
	    	<pre style="font-size: xx-small;">@ViewBag.Tex</pre>
	  	</div>
	</div>
	<form class="form" method="post" action='@Url.Action("Converter")' style="text-align: center;">
		<input type="hidden" name="inputString" value="@ViewBag.Data" />
		<select name="convertType">
			@foreach(var type in Enum.GetNames(typeof(PDFMaker.PDFmaker.ConvertType))) {
				var selected = type == ViewBag.ConvertType.ToString() ? "selected" : "";
				<option value="@type" @selected>@type</option>
			}
		</select>
		<input type="submit" class="btn btn-success" value="Конвертировать"/>
	</form>
} else {
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">Ошибка</h3>
		</div>
		<div class="panel-body">
	    	<pre>@ViewBag.Error</pre>
	  	</div>
	</div>
}