﻿<div>
    <h3>Решение</h3>
    <img src="@String.Format("data:image/png;base64,{0}", ViewBag.Solution)" width=660 />
</div>
<div>
    <h3>Проверка</h3>
    <img src="@String.Format("data:image/png;base64,{0}", ViewBag.Simplify)" width=660 />
</div>
