﻿@using (Html.BeginForm("Mathematica", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h3>Выберите файл .nb</h3><br/>
    <i>Скрипт должен сохранять результат в файлы <b>solution.png</b> и <b>simplify.png</b></i>
    <input style="text-align: center;" type="file" name="file" /> <br/>
    <input style="text-align: center;" class="btn btn-success" type="submit" value="Отправить" />
}
